<!DOCTYPE html>
<html>

<head>
    <title>0U Trip Planner</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <div>
        <div id="header" role="banner">
            <div class="userBar">
                <ul class="userArea">
                    <li><a  href="/Login">로그인</a></li>
                    <li><a  href="/Account">회원가입</a></li>
                    <li><a  href="/Account">아이디/비밀번호찾기</a></li>
                </ul>
            </div>
            <div class="frontImg">
                <a href="#">
                    <img src="/images/frontImg.jpg" width="1100" height="500" />
                </a>
            </div>
            <div id="navBar" role="navigation">
                <div class="barList">
                    <ul class="navList">
                        <li><a href="https://www.naver.com/">구름아이디</a></li>
                        <li><a href="#">게시판</a></li>
                        <li><a href="#">스마트렌즈</a></li>
                        <li><a href="#">공지사항</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="body" role="main">
            <div id="groupA" class="leftSide">
                <div class="userInfo">
                    <div class='infoBox'>
                        <div class='begLogin'>
                            <p>19Project</p>
                            <p>로그인을 진행하세요</p>
                        </div>
                        <div class='userArea2'>
                            <ol>
                                <li><a href="/Login">로그인</a></li>
                                <li><a href="/Account">회원가입</a></li>
                                <li><a href="/Account">아이디/비밀번호찾기</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class='writing'>
                        <a href="#">글쓰기</a>
                    </div>
                </div>
            <div class="allMenu">
                <hr />
                <div class="myWriting">
                    <ul>
                        <li><a href="#">내가 쓴 글</a></li>
                        <li><a href="#">좋아요 글</a></li>
                        <li><a href="#">댓글 단 글</a></li>
                    </ul>
                </div>
                <hr />
                <div class="allWriting">
                    <ul>
                        <li><a href="#">전체글</a></li>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">자유게시판</a></li>
                        <li><a href="#">정보게시판</a></li>
                    </ul>
                </div>
                <hr />
              </div>
            </div>    
            <div id="groupB" class="rightSide">
                <div class='greetings'>
                    <h1>19project</h1>
                    <p>흥애 우리 만든다 웹사이트 흥애
                      여러 기능을 가진 흥애 웹사이트 흥애
                    </p>
                </div>
                <hr />
                <div class='announcement'>
                    <h3>공지사항</h3>
                    <a href="#">
                        <img src="/images/+.png" width="20" height="20" />
                    </a>
                    <div class='announcementList'>
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                        </ul> 
                    </div>
                </div>
                <hr />
                <div class='freeBoard'>
                    <h3>자유게시판</h3>
                    <a href="#">
                        <img src="/images/+.png" width="20" height="20" />
                    </a>
                    <div class='freeBoardList'>
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                        </ul> 
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
</body>

</html>
